/*_________________________________________ BackGround Lines Design___________________________________________*/
/*____________________________________________________________________________________________________________*/
/*____________________________________________________________________________________________________________*/
/*____________________________________________________________________________________________________________*/

.BackgroundDiv1 , .BackgroundDiv2 
{
    background-color: #632626;
    width: 7.4rem;
    height: 100vh;
    transform: skew(0deg);
    position: fixed;
    top: 0%;
    right: 1rem;
    z-index: -100;    
}

.BackgroundDiv2 
{
    width: 1.5rem;
    background-color: #164246;
    right: 8.3rem;
    border-right: 12px solid rgba(238, 238, 238, 0.731);
} 
